version: '3'

services:
  dvwa:
    image: vulnerables/web-dvwa
    ports:
      - "80:80"
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - gemini_net

networks:
  gemini_net:
    driver: bridge